.friendsContainer {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.friendsItem {
  padding: 20px;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 10px;
  list-style-type: none;
}
